# ignore all files...
*.*

# ... except these:

# Git files
!.gitignore
!.gitattributes

# Visual Studio solution and project files
!*.sln
!*.vcxproj
!*.vcxproj.user
!*.vcxproj.filters

# C++ source files
!*.cpp
!*.hpp

# ignore folders
Build/*
